# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Python
__pycache__
*.py[cod]
*$py.class
*.so
*.egg-info
.eggs/
*.egg

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
junit*.xml
coverage*.xml
tests/

# Development tools
.venv/
.env

# Documentation
*.md
docs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
build/
dist/

# Project files
Makefile
CHANGELOG.md
CODEOWNERS
LICENSE
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
