# This file is used for running tox, flake8 and building the wheel
pip~=22.3
logilab-common~=1.9
m2r~=0.2
tox~=3.27
virtualenv~=20.16
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability